@charset "utf-8";

/**
 * reset css
 * @see http://www.hamashun.me/archives/682353.html
 */
html, body, div, h1, h2, h3, p, ul, li, dl, dt, dd, form, label, span, a, img, script, small,
section, article, footer, header, nav, time {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
section, article, footer, header, nav {
	display: block;
}
li {
	list-style-type: none;
}
/**
 * main css
 */
body {
	color: #333;
	background-color: #ffc;
	background-image: url("../img/bg.gif");
	background-attachment: fixed;
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 10px 0 0 10%;
	background-color: #FC8235;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.5));
	opacity: 0.8;
}
#header #title {
	font-size: 200%;
	font-weight: normal;
	font-family: Impact,Chicago,"Comic Sans MS","平成明朝","ＭＳ Ｐ明朝",serif;
	text-shadow: 2px 3px 2px #333;
}
#header #title a {
	color: #ffc;
	opacity: 0.9;
	text-decoration: none;
}
#header #title a:hover {
	opacity: 1;
	text-shadow: 2px 3px 2px #639;
}
#header #subtitle {
	position: absolute;
	left: 10%;
	bottom: 10px;
	color: #fff;
	font-size: 110%;
	font-weight: normal;
	font-family: Arial,Helvetica,sans-serif;
	text-shadow: 1px 2px 1px #333;
}
#header #menu-area {
	float: right;
	margin-right: 10%;
	padding-right: 30px;
}
#header #menu-area h2, #header #menu-area h3 {
	display: none;
}
#header #menu-area li {
	float: left;
}
#header #menu-area .category {
	margin-top: 10px;
}
#header #menu-area .category li {
	width: 54px;
	text-align: center;
	margin-left: 1px;
	padding: 0 2px;
	background-color: #966;
	border: 2px solid #633;
	border-bottom-style: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#header #menu-area .category li.selected {
	background-color: #fff;
	border-color: #c66;
}
#header #menu-area .category li a {
	font-size: smaller;
	display: block;
	color: #fcc;
	text-decoration: none;
}
#header #menu-area .category li.selected a {
	color: #633;
}
#header #menu-area .category li a:hover {
	text-decoration: underline;
}
#header #menu-area .category li:hover {
	position: relative;
	top: -2px;
	margin-bottom: -2px;
}
#header #menu-area .category li:hover a {
	padding-bottom: 2px;
}
#content {
	margin-top: 60px;
	padding: 30px;
	min-height: 1000px;
	height: auto !important;
	height: 1000px;
}
#content .entries-caption {
	display: none;
}
#content .hentry {
	width: 50%;
	margin: 15px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 4px 3px 3px #888;
	border-style: solid;
	border-width: thin;
	border-color: #eee #aaa #aaa #eee;
	background-repeat: repeat-x;
	background-color: #eee;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.05) 60%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.1));
	transition: background-color 0.1s linear;
}
#content #about dt {
	display: none;
}
#content .hentry:before {
	font-style: italic;
	font-family: "Times New Roman",Times,Courier,Garamond,serif;
	text-indent: 0.5em;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #eee #999 #999 #eee;
	color: #333;
	opacity: 0.8;
	width: 70px;
	height: 20px;
	box-shadow: 3px 1px 1px #888;
	position: absolute;
	margin: 0px auto auto -80px;
	z-index: -1;
}
#content .ghost:before {
	content: "ghost";
	background-color: #ccc;
}
#content .shell:before {
	content: "shell";
	background-color: #fbb;
}
#content .balloon:before {
	content: "balloon";
	background-color: #dda;
}
#content .headline:before {
	content: "headline";
	background-color: #bfb;
}
#content .plugin:before {
	content: "plugin";
	background-color: #bbf;
}
#content .supplement:before {
	content: "supplement";
	background-color: #fcf;
}
#content .shiori:before {
	content: "shiori";
	background-color: #ffc;
}
#content .saori:before {
	content: "saori";
	background-color: #add;
}
#content .tool:before {
	content: "tool";
	background-color: #dad;
}
#content .spec:before {
	content: "spec";
	background-color: #cff;
}
#content .webapp:before {
	content: "webapp";
	background-color: #eaa;
}
#content .hentry:hover {
	border-color: #fff #999 #999 #fff;
	background-color: #fff;
}
#content .hentry:after {
	font-size: small;
	font-family: "Times New Roman",Times,Courier,Garamond,serif;
	font-style: italic;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	display: block;
	float: right;
	margin-top: -1em;
}
#content .days-over-0 {
	border-color: #FFFFFF #ED9BED #ED9BED #FFFFFF;
	background-color: #F1B5F1;
}
#content .days-over-0:after {
	content: "today";
}
#content .days-over-1 {
	border-color: #FFFFFF #F1B5B5 #F1B5B5 #FFFFFF;
	background-color: #F6CFCF;
}
#content .days-over-1:after {
	content: "within 7 days";
}
#content .days-over-7 {
	border-color: #FFFFFF #EDDC9B #EDDC9B #FFFFFF;
	background-color: #F1E5B5;
}
#content .days-over-7:after {
	content: "within 30 days";
}
#content .days-over-30 {
	border-color: #FFFFFF #9BDB70 #9BDB70 #FFFFFF;
	background-color: #BDE7A1;
}
#content .days-over-30:after {
	content: "within 365 days";
}
#content .days-over-365 {
	border-color: #FFFFFF #8888E1 #8888E1 #FFFFFF;
	background-color: #B9B9ED;
}
#content .days-over-365:after {
	content: "long ago";
}
#content .hentry .entry-title {
	font-size: large;
	text-shadow: 1px 1px 1px #ccc;
	float: left;
}
#content .hentry a:link,
#footer a:link {
	color: #443e7e;
}
#content .hentry a:visited,
#footer a:visited {
	color: #865d8c;
}
#content .hentry a:hover,
#footer a:hover {
	color: #a05a5a;
}
#content .hentry a:active,
#footer a:active {
	color: #c6c066;
}
#content .hentry dl {
	clear: both;
}
#content .hentry dt,
#content .hentry dd time {
	float: left;
}
#content .hentry dt.created,
#content .hentry dd.created time,
#content .hentry dt.updated,
#content .hentry dd.updated time,
#content .hentry .author {
	font-size: smaller;
}
#content .hentry dt.created,
#content .hentry dt.updated,
#content .hentry dt.author {
	margin-left: 20px;
	padding-right: 0.5em;
}
#content .hentry dt.created:after,
#content .hentry dt.updated:after,
#content .hentry dt.author:after {
	content: " :";
}
#content .hentry dd.author {
	white-space: nowrap;
}
#content .hentry .created {
	display:none;
}
#footer {
	clear: both;
	color: #fff;
	background-color: #FBB556;
	border-top: 1px solid #666;
	text-align: center;
	font-family: "Times New Roman",Times,Courier,Garamond,serif;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.5));
	min-height: 44px;
	height: auto !important;
	height: 44px;
	padding-left: 25%;
}
#footer:after {
	content: "\0020";
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
}
#footer #copyright {
	float: left;
	padding: 10px;
}
#footer a {
	text-decoration: none;
	text-shadow: -1px -1px #eef, -1px 1px #eef, 1px -1px #eef, 1px 1px #eef;
}
